<main>
  <h1>WAREHOUSE INVENTORY</h1>

  <!-- Hiding table if there are no inventory records -->
  @if (mockWarehouseInventory.length) {
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Warehouse Id</th>
          <th>Product Id</th>
          <th>Quantity</th>
          <th>Storage Location</th>
        </tr>
      </thead>

      <tbody>
        <!-- Looping through the mockWarehouseInventory array -->
        @for (item of mockWarehouseInventory; track $index) {
          <tr>
            <td>{{ item.warehouseInventoryId }}</td>
            <td>{{ item.warehouseId }}</td>
            <td>{{ item.productId }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.storageLocation }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

  <!-- EVENT BINDING -->
  <div>
    <button type="button" (click)="addMockWarehouseInventory()">
      Add
    </button>
  </div>
</main>
