/* You can add global styles to this file, and also import other style files */

/* HOWEVER, due to the application structure, not everything will work here the way you want */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0px;
}
